body {
  display: flex;
  justify-content: center;
}

.wrapper {
  text-align: center;
  background-color: antiquewhite;
  width: 40em;
  height: 30em;
}

.clock{
  padding: 2em;
  display: flex;
  justify-content: center;
}

.clock div{
  margin: 0 0.5em;
}

.buttons button{
  margin: 0 2em;
}


